/* http://paletton.com/ */

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body {
    margin: 120px 2%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

header {
    height: 120px;
    position: fixed;
    background-color: bisque;
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
    z-index: 2;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

#logo {
    max-width: 200px;
    position: fixed;
    top: 10px;
    opacity: .7;
    z-index: 3;
}

#tempBox {
    margin: auto;
    /*    display: block;*/
    background-color: firebrick;
}

#temperature {
    font-size: 72px;
    background-color: aquamarine;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 20px 0;
}

.secondaryInfo {
    font-size: .8em;
}

.tertiaryInfo {
    font-size: .6em;
}

/*
#forecast {
    column-count: 2;
    font-size: .8em;
}*/

/*
img {
    max-width: 60%;
    float: left;
}
*/

/*
.forecastDate {
    font-size: .8em;
}
*/

div {
    border: 1px solid red;
    /*    overflow: auto;*/
    /*    padding: 10px;*/
}

/*SEARCH BOX - INNER SHADOWS*/

/* ########################################################################################## ################3 */

.News,
.Sports,
.Entertainment,
.Financial {
    /*    float: left;*/
    /*
    position: relative;
    left: 5%;
    width: 45%;
*/
    background-color: yellow;
    /*
    height: 1000px;
    overflow: auto;
*/
    height: 500px;
    overflow: hidden;
}

.seeMore {
    /*    height: 1000px;*/
    overflow: scroll;
    /*
    border: 10px pink dashed;
    border-radius: 100px;
*/
}

.middleBuffer {
    background-color: black;
    /*    height: 1000px;*/
    height: 500px;
}

.separator {
    height: 25px;
}

#tempBox,
.mainInfo,
#forecast {
    height: 200px;
    overflow: hidden;
}

.newsHeader {
    position: absolute;
    padding: 0px 20px;
    /*    width: 100%;*/
    background-color: aqua;
}

.weather,
.events,
.Events,
.holidays {
    /*
    float: right;
    position: relative;
    right: 5%;
    width: 45%;
*/
    background-color: pink;
}

.News img,
.Sports img,
.Entertainment img,
.Financial img {
    width: 100%;
}
